html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    position: relative;
    transition: all 0.5s;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #272525;
}
::-webkit-scrollbar-thumb {
    background: #D50E44;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 6vh;
    background-color: #262323;
    padding: 10px;
    z-index: 65;
    right: 0%;
}

.logo {
    position: absolute;
    top: 2%;
    bottom: 0%;
    margin: auto;
    left: 1%;
    max-width: 50px;
    height: 50px;
}

.line {
    position: relative;
    font-size: 90%;
    height: 45vh;
    width: auto;
    left: 50%;
    color: white;
}

.line>ul :hover {
    color: red;
    transition: 800ms;
}

.line ul {
    position: absolute;
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

.line li {
    position: relative;
    margin-right: 60px;
    top: 10px;
}

.line li:last-child {
    margin-right: 0%;
}

.line a {
    text-decoration: none;
    font-size: 100%;
    color: #ffffff;
}

.home {
    position: relative;
    background-color: #262323;
    height: 100vh;
    width: 100%;
}

.proimg {
    position: absolute;
    top: 15%;
    bottom: 0%;
    margin: auto;
    right: 11%;
    max-width: 400px;
    height: 400px;
}
.pro1{
    width: 420px;
}
.pro2{
    width: 420px;
}.pro3{
    width: 420px;
}

.proimg1 {
    position: absolute;
    top: 4%;
    bottom: 0%;
    margin: auto;
    right: 8.5%;
    max-width: 400px;
    height: 400px;
}

.proimg2 {
    position: absolute;
    top: 24%;
    bottom: 0%;
    margin: auto;
    right: 14%;
    max-width: 400px;
    height: 400px;
}


.Hello {
    position: relative;
    font-size: 300%;
    top: -75px;
}

.paragraph1 {
    position: relative;
    font-size: 22px;
    top: 30%;
    bottom: 0%;
    color: #ffffff;
    right: 9.5%;
}

.title {
    position: relative;
    font-size: 35px;
    top: 30%;
    left: 98px;
    color: #ffffff;
}

.developer {
    color: #D50E44;
}

.Nameline {
    position: relative;
    display: flex;
    top: 32%;
    left: 98px;
    font-size: 50px;
    color: #ffffff;
}

.hi {
    color: #D50E44;
}

.greeting {
    position: relative;
    display: flex;
    top: 34%;
    left: 98px;
    font-size: 30px;
    color: #ffffff;
}

.probutton {
    position: relative;
    display: flex;
    top: 26%;
    left: 98px;
    background-color: #D50E44;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);

}

.probutton:hover {
    background-color: #fff;
    color: #D50E44;
    transition: 800ms;
}

.probutton a {
    text-decoration: none;
    color: inherit;
}


.section-line {
    position: absolute;
    margin: auto;
    left: 100px;
    bottom: 0vh;

}

.sline {
    width: 1295px;
}

 /* -------------------------------section2---------------------------- */
.about {
    position: absolute;
    background-color: #262323;
    height: 100vh;
    width: 100%;
    display: block;
    top: 100%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.paragraph2 {
    position: relative;
    font-size: 22px;
    top: 10vh;
    bottom: 0%;
    color: #ffffff;
    left: 26%;
}

.know {
    position: relative;
    font-size: 25px;
    top: 10vh;
    left: 638px;
    color: #ffffff;
    font-weight: lighter;

}

.know1 {
    position: relative;
    font-size: 35px;
    top: 12vh;
    left: 638px;
    color: #ffffff;

}

.highlight-know {
    color: #D50E44;
}

.know2 {
    position: relative;
    font-size: 35px;
    top: 10vh;
    left: 638px;
    color: #ffffff;

}

.highlight-me {
    color: rgb(98, 98, 98);
}

.abimg {
    position: absolute;
    top: -20vh;
    bottom: 0%;
    margin: auto;
    left: 6.5%;
    max-width: 400px;
    height: 400px;
}

.abimg1 {
    position: absolute;
    top: -30vh;
    bottom: 0%;
    margin: auto;
    left: 12.5%;
    max-width: 300px;
    height: 400px;
}

.abimg2 {
    position: absolute;
    top: -45vh;
    bottom: 0%;
    margin: auto;
    left: 9.5%;
    max-width: 300px;
    height: 400px;
}
.ab1{
    width: 320px;
}
.ab2{
    width: 370px;
}
.ab3{
    width: 370px;
}

.abtitle-line {
    position: absolute;
    margin: auto;
    left: 760px;
    top: 14vh;

}

.abrline {
    width: 150px;
}


 /* -------------------------------section3---------------------------- */
.education {
    position: absolute;
    background-color: #262323;
    height: 100vh;
    width: 100%;
    display: block;
    top: 200%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}


.edutitle {
    position: relative;
    font-size: 25px;
    top: 10vh;
    left: 685px;
    margin: auto;
    color: #ffffff;
    font-weight: lighter;
}

.etitle-line {
    position: absolute;
    margin: auto;
    display: flex;
    left: 508px;
    top: 12vh;

}

.erline1,
.erline2 {
    width: 150px;
}

.erline2 {
    margin-left: 200px;
}

.chart {
    position: absolute;
    top: 40vh;
    bottom: 0%;
    margin: auto;
    left: 18%;
    max-width: 300px;
    height: 400px;
}
.chartimg{
    width: 1000px ;
}

.edu1 {
    position: relative;
    font-size: 15px;
    top: 65vh;
    left: 235px;
    color: #D50E44;

}

.edu2 {
    position: relative;
    font-size: 15px;
    top: 25vh;
    left: 545px;
    color: #D50E44;
}

.edu3 {
    position: relative;
    font-size: 15px;
    top: 57vh;
    left: 875px;
    color: #D50E44;
}

.edu4 {
    position: relative;
    font-size: 15px;
    top: 58vh;
    left: 877px;
    color: #bcb6b6;
}

 /* -------------------------------section4---------------------------- */
.skills {
    position: absolute;
    background-color: #262323;
    height: 100vh;
    width: 100%;
    display: block;
    top: 300%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.skilltitle {
    position: relative;
    font-size: 25px;
    top: 10vh;
    left: 715px;
    margin: auto;
    color: #ffffff;
    font-weight: lighter;
}

.stitle-line {
    position: absolute;
    margin: auto;
    display: flex;
    left: 508px;
    top: 12vh;

}

.srline1,
.srline2 {
    width: 150px;
}

.srline2 {
    margin-left: 200px;
}

.skslide-wrapper {
    overflow: hidden;
    width: 1300px;
    height: 250px;
}

.skslide {
    display: flex;
    animation: slide 10s infinite linear;
    animation-direction: alternate;
}

.skslide:hover {
    animation-play-state: paused;
}

.sitem {
    flex: 0 0 150px;
    padding: 0 10px;
    margin-right: 20px;
    box-sizing: content-box;
}

.simg {
    width: 100%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-85%);
    }
}

.site {
    position: absolute;
    margin: auto;
    left: 100px;
    top: 40vh;
}

.sitem {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.simg {
    width: 150px;
    transition: transform 1s;
}

.simg:hover {
    transform: translateZ(10px);
}




 /* -------------------------------section5---------------------------- */
.project {
    position: absolute;
    background-color: #262323;
    height: 100vh;
    width: 100%;
    display: block;
    top: 400%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.ptitle-line {
    position: absolute;
    margin: auto;
    display: flex;
    left: 508px;
    top: 12vh;

}

.prline1,
.prline2 {
    width: 150px;
}

.prline2 {
    margin-left: 200px;
}

.skslide-wrapper {
    overflow: hidden;
    width: 1300px;
    height: 250px;
}

.projecttitle {
    position: absolute;
    font-size: 25px;
    top: 10vh;
    left: 690px;
    margin: auto;
    color: #ffffff;
    font-weight: lighter;
}

.proslide-wrapper {
    overflow-x: hidden;
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
    top: 30vh;
}

.proslide {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    padding: 10px 0;
}

.pitem {
    flex: 0 0 auto;
    width: 500px;
    margin-right: 20px;
    text-align: center;

    height: 320px;
    background: rgba(155, 155, 155, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.pimg {
    width: 500px;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
}

.ve {
    text-decoration: none;
    color: #181515;
}
.ve:hover{
    color: #D50E44;
}

.ho:hover .ve {
    font-size: 32px;
}

.ho {
    width: 100%;
    height: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: height 0.5s;
    border-radius: 10px;
    background: rgba(189, 195, 199, 0.386);
    overflow: hidden;

}

.pitem:hover .ho {
    height: 100%;
}


#h1 {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    position: relative;
    right: 0%;
    top: 15vh;
    

}

 /* -------------------------------section6---------------------------- */
.assigment {
    position: absolute;
    background-color: #262323;
    height: 100vh;
    width: 100%;
    display: block;
    top: 500%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.assigmenttitle {
    position: absolute;
    font-size: 25px;
    top: 10vh;
    left: 677px;
    margin: auto;
    color: #ffffff;
    font-weight: lighter;
}

.astitle-line {
    position: absolute;
    margin: auto;
    display: flex;
    left: 508px;
    top: 12vh;

}

.asrline1,
.asrline2 {
    width: 150px;
}

.asrline2 {
    margin-left: 200px;
}

.assigment-wrapper {
    overflow-x: hidden;
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
    top: 30vh;
}

.asgslide {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    padding: 10px 0;
}

.asgitem {
    flex: 0 0 auto;
    width: 350px;
    margin-right: 20px;
    text-align: center;

    height: 300px;
    background: rgba(155, 155, 155, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.asimg {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.aslink {
    text-decoration: none;
    color: #181515;
}
.aslink:hover{
    color: #D50E44;
}

.asho:hover .aslink {
    font-size: 32px;
}

.asho {
    width: 100%;
    height: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: height 0.5s;
    border-radius: 10px;
    background: rgba(189, 195, 199, 0.35);
    overflow: hidden;

}

.asgitem:hover .asho {
    height: 100%;
}

#ash1 {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    position: relative;
    right: 0%;
    top: 15vh;

}

 /* -------------------------------section7---------------------------- */
.gallery {
    position: absolute;
    background-color: #262323;
    height: 100vh;
    width: 100%;
    display: block;
    top: 600%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.gallerytitle {
    position: absolute;
    font-size: 25px;
    top: 10vh;
    left: 700px;
    margin: auto;
    color: #ffffff;
    font-weight: lighter;
}

.gatitle-line {
    position: absolute;
    margin: auto;
    display: flex;
    left: 508px;
    top: 12vh;

}

.garline1,
.garline2 {
    width: 150px;
}

.garline2 {
    margin-left: 200px;
}

.gallery-wrapper {
    overflow: hidden;
    width: 1300px;
    height: 450px;
}

.gallery-slideshow {
    display: flex;
    animation: slide 10s infinite linear;
    animation-direction: alternate;
}

.gaitem {
    flex: 0 0 150px;
    padding: 0 10px;
    margin-right: 180px;
    box-sizing: content-box;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-85%);
    }
}

.gasite {
    position: absolute;
    margin: auto;
    left: 100px;
    top: 20vh;
}

.gaitem {
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px
}
 /* -------------------------------section8---------------------------- */
footer {
    position: absolute;
    background-color: #262323;
    height: 125vh;
    width: 100%;
    display: block;
    top: 700%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.contact,
.contact-form,
.rights-social {
    flex: 1;
    margin: 20px;
    padding: 20px;
    text-align: left;
}

.contact-form form {
    margin-top: 20px;
}

.fieldset {
    padding-left: 7%;
    padding-right: 7%;

}

fieldset {
    border: 2px solid #323030;
    border: none;

}

.contact-form input,
.contact-form textarea {
    width: 1285px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #D50E44;
    border-radius: 5px;
    background-color: #333;
}

.contact-form button {
    background-color: #D50E44;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.contact-form button:hover {
    background-color: #fff;
    color: #D50E44;
    transition: 800ms;
}

.rights-social .social {
    /* position: relative;
    margin-right: 60px; */
    text-align: center;
    /* background-color: #bcb6b6; */

}

.rights-social .social a {
    margin: 0 10px;
    text-decoration: none;
}

.rights-social .social img {
    width: 30px;
    height: 30px;
}

textarea {
    resize: none;
}

.contacttitle {
    position: absolute;
    font-size: 18px;
    top: 10vh;
    left: 102px;
    margin: auto;
    color: #ffffff;
    font-weight: lighter;
}

.gettitle {
    position: absolute;
    font-size: 35px;
    top: 17vh;
    left: 100px;
    margin: auto;
    color: #ffffff;
    font-weight: lighter;
}

.highlight {
    color: #D50E44;

}

.paragraph3 {
    position: absolute;
    font-size: 18px;
    top: 25vh;
    /* bottom: 0%; */
    color: #ffffff;
    left: 6.5%;
    margin: auto;
    padding-right: 7%;
}

.contact-form {
    position: absolute;
    top: 42vh;
    left: -2.5%;
    /* right: 0; */
    bottom: 0;
    margin: auto;
}

.rights {
    position: absolute;
    top: 7vh;
    left: 7%;
    right: 0;
    bottom: 0;
    margin: auto;
}

.create {
    color: #ffffff;
}

.highlight {
    color: #D50E44;

}

.rights-social {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #181515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    margin-right: 5px;
    position: absolute;
    display: flex;
    margin: auto;
    left: 1140px;

}

.csection-line {
    position: absolute;
    margin: auto;
    left: 100px;
    bottom: 25vh;

}

.csline {
    width: 1295px;
}
.crtitle-line {
    position: absolute;
    margin: auto;
    left: 240px;
    top: 9.5vh;

}

.crline {
    width: 150px;
}
